
body {
  color: #526066;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.6em;
}


.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

.main-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main-menu-link {
  padding: 0.5em 0.7em;
}

.navmenu {
  width: 100%;
  margin: 0px auto;
  display: block;
  position: relative;
  background-color: #c68b59;
}

nav.navmenu h3{
  color: #FFF;
}

nav.navmenu ul {
  list-style: none;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: #c68b59;
  margin: 0px auto;
  padding: -5px;
}

nav.navmenu li {
  display: inline-block;
  position: relative;
}

nav.navmenu li a {
  padding: 10px 15px;
  text-decoration: none;
  color: #FFF;
  display: block;
  box-sizing: border-box;
}

nav.navmenu li a:hover {
  background-color: #c68b59;
}

.banner {
  background: transparent url("https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg") 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

  height: 200px;
  width: 100%;
  margin-bottom: 3em;
  display: table;
}

.banner-head {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

.option{
  text-align: center;
}
.services{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 15%;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 36px;
  padding: 60px;
  border: 2px solid black;
  border-radius: 18px;
  transition: all .3s ease;
}

.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: rgb(161, 81, 0);
  background: rgb(198,139,89);
}

.content-2:hover{
  border-color: rgb(161, 81, 0);
  background: rgb(198,139,89);
}

.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}

.footer {
  background: #c68b59;
  color: #fff;
  text-align: center;
}
.footer a {
  color: #ddd;
}

@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .pricing-table {
    margin-bottom: 0;
  }
}
@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}